
  
  .picker-container {
    position: relative;
    display: inline-block;
  }
  
  .picker-container button {
    width: 100%;
  }
  
  .picker-container .picker-popper {
    position: absolute;
    z-index: 2;
    padding-top: 4px;
  }
  
  .picker-popper div.github-picker {
    background: black;
    border-radius: 0 !important;
    border: 1px solid #ddd !important;
    padding: 8px !important;
    background: #fffffe !important;
    box-shadow: 8px 8px #995 !important;
  }
  
  .github-picker > span > div {
    width: 30px !important;
    height: 30px !important;
    margin: 1px;
  }
  
  .canvas:not(.disabled) {
    border: 1px solid rgb(251, 251, 251);
    cursor: none;
    box-shadow: 4px 4px rgb(240, 240, 240);
    margin: 6px 4px 6px 0;
    
    
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
    
  }

  @keyframes rotatee {
    from{transform:rotateY(0deg)}
  
      to {transform:rotateY(360deg)}
    
  }
  
  .toto > span {
      animation: rotatee 10s linear infinite;
    display:inline-block;
    
  }
  




  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {.boxWrap {
    width: 90%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
    


    
    }}
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {.boxWrap {
    width: 90%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: row nowrap;
    align-items: center;
  
    }}
  
    /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {.boxWrap {
    width: 90%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: row nowrap;
    align-items: center;
    }}
